.disign {
  padding: 80px 0 130px;
  display: flex;

  &__title {
   @include text(43px, 58px, #000);
    text-align: center;
  }

  &__subtitle {
    @include text(14px, 24px, #A0A0A0);
    text-align: center;
    letter-spacing: 0.8px;
    margin: 23px 0 26px;
  }

  &__link {
    @include text(13px, 21px, #000);
    text-align: center;
    letter-spacing: 1.4px;
    display: block;
    margin-bottom: 81px;
  }

  &__row {
    display: flex;
    column-gap: 25px;
  }

  &__col {
    width: 50%;
    text-align: center;
  &-title{
    @include text(27px,30px,#000);
    margin: 48px 0 23px;
  }
    &-link{
      @include text(13px,15px,#000);
      letter-spacing: 1.4px;
    }
  }

  &__img {
    width: 100%;
  }
}