.Praduct{
  padding-bottom: 95px;

  &__title{
    @include text(33px,36px,#000);
    text-align: center;
  }
  &__text{
    @include text(15px,18px,#A0A0A0);

    text-align: center;
    letter-spacing: 0.8px;
    margin: 16px 0 52px;

  }
  &__card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-img{
      width: 100%;
    }
    &-title{
      @include text(13px,21px,#A0A0A0);
      letter-spacing: 0.7px;
      margin-top: 23px;
    }
    &-price{
      @include text(12px,21px,#A0A0A0);
      letter-spacing: 0.7px;

    }
  }

}