.Way{
  padding: 116px 0 38px;
  text-align: center;
  &__title{
    @include text(34px,36px,#000);

  }
  &__text{
    @include text(16px ,24px,#A0A0A0);
    margin: 23px 0 ;
    letter-spacing: 0.8px;
  }
  &__img{
    width: 100%;
    max-width: 1052px;
  }
}