.Work{
  padding:38px 0 124px ;
  text-align: center;
  &__title{
    @include text(34px,36px,#000);
  }
  &__text{
    @include text(16px,24px,#A0A0A0);
    letter-spacing: 0.8px;
    margin: 23px 0 79px;
  }
  &__gallery{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    &-img{
      width: calc(16.6666% - 20.83333px);
      img{
        width: 100%;
        cursor: pointer;
      }
    }
  }
}